files:
    "/sbin/appstart":
        mode: "000755"
        owner: webapp
        group: webapp
        content: |
            #!/usr/bin/env bash
            JAR_PATH=/var/app/current/application.jar

            # run app
            pkill -f java
            java -Dfile.encoding=UTF-8 \
                 -Dspring.profiles.active=develop \
                 -Dserver.port=8080 \
                 -jar "$JAR_PATH"
